.about__container {
    padding: 10rem 1rem 1rem;
    display: flex;
    flex-direction: column;
}

.about__pic {
    object-fit: cover;
    height: 30rem;
    width: 80%;
    align-self: center;
    margin-top: 3rem;
    border-radius: 1.3rem;
}

.about__title {
    text-align: center;
    margin-top: 2rem;
    font-size: 1.3rem;
}

.about_desc {
    /* text-align: center; */
    margin: 1rem;
    max-width: 1025px;
    align-self: center;
}

.about__skills {
    display: flex;
    flex-direction: column;
    max-width: 1050px;
    margin: auto;
}

.about__skills > p {
    margin-top: 2em;
    align-self: center;
}

.about__skills > a {
    width: auto;
    height: auto;
    align-self: center;
    /* margin-top: 2em; */
}

.skills__title {
    align-self: center;
    margin-top: 2rem;
}

.skills__logo {
    display: flex;
    margin-top: 3em;
    flex-wrap: wrap;
    justify-content: space-around;
}

.skill__logo {
    display: flex;
    flex-direction: column;
    margin-right: 2em;
}

.skill__logo > h3 {
    align-self: center;
    font-size: 0.8rem;
    font-weight: 400;
}

.formations {
    display: flex;
    margin: auto;
    margin-bottom: 5em;
    padding: 0 10px 0 10px;
    align-items: center;
    margin-top: 3rem;
    border-radius: 20px;
    border: 2px solid #7451eb;
    width: 100%;
    height: 104px;
    max-width: 648px;
}

.formations > img {
    border-radius: 15px;
    object-fit: cover;
}

.formations > p {
    margin-left: 10px;
}

@media screen and (min-width: 600px) {
    .about__pic {
        width: 50%;
    }
}

@media screen and (min-width: 1000px) {
    .about__pic {
        width: 30%;
    }
}

@media screen and (min-width: 1500px) {
    .about__pic {
        width: 20%;
    }
}

