.home {
    display: flex;
    flex-direction: column;
    margin-top: 20em;
    padding: 6rem 1rem 1rem;
}

.name {
    text-align: center;
    font-size: 4em;
    margin: 0 auto;
}

.Typewriter {
    font-size: 50px;
    text-align: center;
    margin: 0 auto;
}

.home__link {
    margin-top: 3em;
    display: flex;
}

.link { 
    cursor: pointer;
    margin: auto;
    text-decoration: none;
    color: #1A1A1A;
    padding: 15px;
    background-color: #76b900;
    border-radius: 20px;
    font-size: 1.3em;
}

.link:hover {
    transform: scale(1.2);
    transition: 0.5s;
}

@media screen and (max-width: 1023px) {
    .home {
        margin-top: 5em;
    }
}