.portfolio__container {
    padding: 10rem 1rem 1rem;
    display: flex;
    flex-direction: column;
}

.portfolio__title {
    border-bottom: 1px solid #76b900;
    text-align: center;
}

.portfolio__pic {
    margin-top: 3rem;
    width: 70%;
    align-self: center;
    max-width: 600px;
}